/* BASE */

@import 'https://fonts.googleapis.com/css?family=Crimson+Text|News+Cycle';

* {
    margin: 0;
    padding: 0;

}

html, body{
    height: 100%;
    font-family: 'Crimson Text', serif;
}

body {
    font-family: 'Crimson Text', serif;
}

/* HEADER */
/* -------------------- */

/* bar */
.site-header {
    background-color: hsla(0, 0%, 0%, 0.8);
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    position: fixed;
    top: 0;
}

/* page title */
a.site-title, .site-title:visited {
    display: block;
    color: #888888;
    font-size: 24px;
    letter-spacing: -1px;
    float: left;
    line-height: 48px;
    position: relative;
    z-index: 1;
}
.site-title:hover { color: #FFFFFF; }
.site-title:link { text-decoration: none; }

/* website tray */
.site-tray {
    float: right;
}

.site-tray a.tray-btn {
    display: none;
    position: absolute;
    right: 8px;
    top: 0;
    color: #888888;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 1px;
}
.site-tray .tray-btn:hover { color: #FFFFFF; }
.site-tray .tray-btn:link { text-decoration: none; }

.site-tray a.tray-icon {
    color: #888888;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 1px;
}
.site-tray .tray-icon:hover { color: #FFFFFF; }
.site-tray .tray-icon:link { text-decoration: none; }

.site-tray .tray-clock {
    color: #888888;
    font-size: 24px;
    line-height: 48px;
}

/* FOOTER */
/* -------------------- */

/* bar */
.site-footer {
    background-color: hsla(0, 0%, 0%, 0.8);
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    position: fixed;
    bottom: 0;
}

/* updated */
.site-footer a.updated, a.updated:visited {
    display: block;
    float: right;
    text-align: center;
    color: #888888;
    align: middle;
    z-index: 1;
}

.site-footer a.updated:hover { color: #FFFFFF; }
.site-footer a.updated:link { text-decoration: none; }

/* licence */
.site-footer .licence {
    height: 48px;
    line-height: 16px;
    color: #888888;
    font-size: 12px;
    text-align: center;
}

.site-footer .licence span.text a { color: #888888; }
.site-footer .licence span.text a:hover { color: #FFFFFF; }

.site-footer .licence span.image img {
    padding-top: 4px;
    border-width:0;
    vertical-align: middle;
    opacity: 0.5;
}
.site-footer .licence span.image a:hover img { opacity: 1.0; }

.site-footer .licence span.image-large {
    display: none;
    padding-top: 8px;
}
.site-footer .licence span.image-large img {
    border-width:0;
    vertical-align: middle;
    opacity: 0.5;
}
.site-footer .licence span.image-large a:hover img { opacity: 1.0; }

/* CONTENT */

/* main page */
div.page-content {
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
    min-height: 100%;
}
div.page-content a { color: maroon; }
div.page-content a:hover { color: firebrick; }

/* center wrap */
div.wrap-center {
    width: 60%;
    height: auto;
    background: hsla(0, 0%, 100%, 0.9);
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* left wrap */
div.wrap-post {
    width: 50%;
    height: auto;
/*    background: hsla(0, 0%, 100%, 0.5); */
    margin-left: 10%;
    margin-right: auto;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* posts */
.page-navigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.page-navigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.page-navigation .next {
    text-align: right;
}

header.post-header {
    text-align: center;
}

article.post-content p {
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 1em;
}

article.post-content img {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

article.post-content ul {
    line-height: 1.5em;
}

article.post-content ol {
    counter-reset: foo;
    display: table;

}

article.post-content ol > li {
    counter-increment: foo;
    display: table-row;
}

article.post-content ol > li::before {
    content: counter(foo) ".";
    display: table-cell; /* aha! */
    text-align: right;
}

/* general org mode */
.org-center, .org-center * {
    text-align: center!important;
}

.org-left, .org-left * {
    text-align: left!important;
}

.org-right, org-right * {
    text-align: right!important;
}

/* table */

table {
    width: 100%;
    font-size: 0.8em;
    font-family: 'News Cycle', sans;
    margin-bottom: 1em;
}

caption {
    font-family: 'News Cycle', sans;
}

table, thead {
    border-width: 2px;
}

th, td {
    padding: 0.3em;
    vertical-align: middle;
}

/* keypoint */
.src-keypoint {
    background: #f9f9f9;
    border: none;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.src-keypoint::first-line {
    color: #a88;
    font-size: 1.5em;
    font-weight: bold;
}


/* block quote */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: justify;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

blockquote span.author {
    text-align: right;
}

/* code highlighting */

code {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 0.8em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.highlight pre, pre, .highlight .hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; font-size: 0.8em; margin-bottom: 1em; white-space: pre-wrap; }
.highlight .c { color: #999988; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .c1 { color: #999988; font-style: italic; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kn { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .m { color: #009999; }
.highlight .s { color: #dd1144; }
.highlight .n { color: #333333; }
.highlight .na { color: teal; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #990000; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: navy; }
.highlight .nv { color: teal; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #dd1144; }
.highlight .sd { color: #dd1144; }
.highlight .s2 { color: #dd1144; }
.highlight .se { color: #dd1144; }
.highlight .sh { color: #dd1144; }
.highlight .si { color: #dd1144; }
.highlight .sx { color: #dd1144; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #dd1144; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999; background-color: #EAF2F5; }

/* d3 graph / network */
.node {
    stroke: #000;
    stroke-width: 1px;
}

.link {
    fill: none;
    stroke: #000;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
svg.svg-content-responsive {
    display: block;
    margin: auto;
    position: relative;
    left: 0;
}

/* font awesome */
/* Animations, thanks Alessandro Gubitosi https://github.com/gubi
   Source: https://gist.github.com/gubi/8483199
*/
.fa-pulse {
    display: inline-block;
    -moz-animation: pulse 2s infinite linear;
    -o-animation: pulse 2s infinite linear;
    -webkit-animation: pulse 2s infinite linear;
    animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.fa-bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
/* --- */
.fa-wiggle {
    display: inline-block;
    position: relative;
    -moz-animation: wiggle 1s infinite linear;
    -o-animation: wiggle 1s infinite linear;
    -webkit-animation: wiggle 1s infinite linear;
    animation: wiggle 1s infinite linear;
}

@keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
}

@keyframes wiggle {
    0% {-moz-transform: rotate(10deg);}
    25% {-moz-transform: rotate(-10deg);}
    50% {-moz-transform: rotate(20deg);}
    75% {-moz-transform: rotate(-5deg);}
    100% {-moz-transform: rotate(0deg);}
}
@-o-keyframes wiggle {
    0% {-o-transform: rotate(10deg);}
    25% {-o-transform: rotate(-10deg);}
    50% {-o-transform: rotate(20deg);}
    75% {-o-transform: rotate(-5deg);}
    100% {-o-transform: rotate(0deg);}
}
@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(10deg);}
    25% {-ms-transform: rotate(-10deg);}
    50% {-ms-transform: rotate(20deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
}
@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}


/* SMALL SCREENS */
/* -------------------- */

/* vertically challenged */
@media (max-height: 600px) {
    .site-header {
  position: absolute;
    }
    .site-footer {
  position: static;
    }

    div.page-content {
  padding-bottom: 24px;
    }
}

/* horizontally challenged */
@media (max-width: 960px){
    .page-content div.wrap-center { width: 80%; }
    .page-content div.wrap-post { width: 90%; margin-left: auto; padding: 0px; }
}

/* quite horizontally challenged */
@media (max-width: 600px) {
    .svg-container { display: none; }
    .site-tray a.tray-btn { display: block; z-index: 0; }
    .site-title { width: 80%; }

    .site-tray .trigger {
  clear: both;
  display: none;
    }

    .site-footer .licence span.text { display: none; }
    .site-footer .licence span.image { display: none; }
    .site-footer .licence span.image-large { display: block; }

}

/* well fed */
@media (min-width: 600px) {
    .site-tray .trigger {
  display: block !important;
    }
}
