---
layout: default
title: The Extravaganza
permalink: extra
---

<style>
 body{
     background:url('../assets/extra-bg.jpg') no-repeat center center fixed;
     -moz-background-size:cover;
     -webkit-background-size:cover;
     -o-background-size:cover;
     background-size:cover;
     overflow-x: hidden;
 }
</style>

<div class="wrap-center">
  <h1>The Aqeel Akber Extra Extra Extravaganza</h1>
  <p>
    Part documentary, part podcast, part reality TV &mdash; all real, all just conversation.
  </p>
  <p>
    <a href="https://youtube.com/@admiralakber" title="Watch on YouTube"><i class="fab fa-youtube"></i> YouTube</a>
    &nbsp;&middot;&nbsp;
    <a href="https://open.spotify.com/show/033xq7NchOx1AyybFkWzR5" title="Listen on Spotify"><i class="fab fa-spotify"></i> Spotify</a>
  </p>

  <p style="border-top: 1px solid; border-bottom: 1px solid; padding: 0.6em 0; font-variant: small-caps;">
    Proudly sponsored by my own company.<br/>
    <a href="https://getmeos.com/extra" title="Get meos"><strong>Get the app &rarr; getmeos.com/extra</strong></a>
  </p>

  <br>
  <h1>Episodes</h1>
  {% if site.tags.extravaganza %}
  <ul style="list-style-type: none;">
    {% for post in site.tags.extravaganza %}
    <li>
      <strong>{{ post.date | date_to_string }} &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></strong><br/>
      {{ post.content | strip_html | truncatewords: 50 }}
    </li>
    <br/>
    {% endfor %}
  </ul>
  {% else %}
  <p>Episodes coming soon.</p>
  {% endif %}
</div>
