<footer class="site-footer">
    <a href="https://gitlab.com/admiralakber/aqeelakber.com/-/tree/main" class="updated">
        Site updated<br/>
        {{ site.time | date: "%-d %B %Y" }}
    </a>


    <div class=licence>

        <span class=image>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"/></a>
        </span>

        <span class=image-large>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a>
        </span>

        <br>
        <span class=text>
            Copyright Aqeel Akber. All rights reserved. Publicly licenced under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="text-link">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a> unless stated otherwise.
        </span>

    </div>
</footer>
